body {
  background-color: orange;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.apples {
  width: 30%;
  background-color: lightblue;
}

.tada {
  background-color: lightblue;
  color: black;
  border: 1px solid black;
  margin: 10px;
  padding: 2.5px;
  font:
}
