@import url("https://fontlibrary.org/face/minecraftia");

body {

  background-image: url("https://wallpaperaccess.com/full/6104111.png");
  font-family: Minecraftia;
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px red;
}

p {
  font-family: verdana;
  font-size: 20px;
}

.apples {
  width: 50%;
  margin-left: 25px;
  background-color: lightblue;
  box-shadow: 10px 10px 5px grey;
}

.tada {
  background-color: lightblue;
  color: black;
  border: 1px ridge black;
  margin-right: 500px;
  padding: 2.5px;
}

.usernames {
  column-width: 20px;
}
