<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:8080/static/style/style.css">
    <title>Logs for {{ .Title }}</title>
</head>
<body>
    {{ with .User }}
        <img src="http://localhost:8080/static/images/{{ .Username }}_face.png" class="main-pfp">
        <h1>User: {{ .Username }}</h1>
        <h3>Sessions:</h3>
        <h4>Total Time: {{ .TotalTime }}</h4>
            <div class="user-table"></div>
                <table>
                    <tr class="table-header">
                        <th>Start</th>
                        <th>End</th>
                        <th>Duration</th>
                    </tr>
                    {{ range .Sessions }}
                        <tr class="table-row">
                            <td>{{ .Start }}</td>
                            <td>{{ .End }}</td>
                            <td>{{ .Duration }}</td>
                        </tr>
                    {{ end }}
                </table>
            </div>
        {{ if .Messages}}
            <h3>Messages:</h3>
            <h4>Total Messages: {{ .MessageCount }}</h4>
            <div class="user-table">
                <table>
                    <tr class="table-header">
                        <td>Timestamp</td>
                        <td>Message</td>
                    </tr>
                    {{ range .Messages }}
                        <tr class='table-row'>
                            <td>{{ .Timestamp }}</td>
                            <td>{{ .Content }}</td>
                        </tr>
                    {{ end }}
                </table>
            </div>
        {{ else }}
            <h4>No messages sent :(</h4>
        {{ end }}        
        
    {{ end }}
</body>
</html>